.services

    &__item
        margin: -12px 0
        position: relative
        color: $white

        &:first-child
            margin-top: 0

    &__item-title
        margin-top: -10px;
        padding-bottom: 2px;
        position: relative;

    &__item-subtitle
        color: $darkGrey
        font-size: .9em

    &__title
        color: #403f3f;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 1em;

    &__description
        p
            margin: 1em 0
        a
            text-decoration: none
            color: $darkGrey
