.menu
    padding: 25px 20px 25px 20px

    ul
        list-style: none
        display: flex

    &__item
        margin-right: 75px

    @media all and (max-width: $stage2)
        ul
            justify-content: space-between
        &__item
            margin-right: 0

    &__item
        font-size: 20px
        font-weight: 100
        position: relative
        cursor: pointer
        color: $black
        text-decoration: none
        outline: 0

        &_current
            cursor: default

            &:after
                content: ''
                position: absolute
                bottom: -1px
                left: 7px
                right: 7px
                height: 0
                border: 1px solid $blue
