.tags
    color: $white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px
    font-weight: 300

    &__tag
        margin: 10px 15px
