.contributors

    &__contributor
        display: flex
        align-items: center
        text-decoration: none

    &__contributor_current &__role
        color: $darkGrey

    &__pic
        padding-right: 10px
        img
            height: 60px
            width: 60px
            border-radius: 60px

    &__name
        color: $white

    &__role
        color: $darkGrey
        font-size: .9em
