.user
    h2
        color: $darkGrey
        font-weight: 500
        font-size: 18px
        margin-bottom: 1em

    p
        margin: 1em 0

    ul
        padding-left: 22px
        list-style-type: circle

    a
        text-decoration: none
        color: $darkGrey

    &_loading
        position: relative
        height: 100%
        box-sizing: border-box
