.toc
    list-style: none;
    counter-reset: toc;
    padding: 0 25px 25px

    &__header
        padding-bottom: 25px
        display: flex
        justify-content: space-between;
        align-items: center;
        font-size: 1.1em

    &__title
        margin-right: 50px

    &__submenu
        padding: 7px 0 12px 7px;

    &__submenu
        list-style: none;
        counter-reset: toc;

    &__item:before
    &__subitem:before
        counter-increment: toc;
        content: counters(toc,".") " ";

    &__subitem_current &__link:after
    &__subitem_current &__link:before
        content: '•'

    &__subitem_current &__link:before
        padding-right: 4px

    &__subitem_current &__link:after
        padding-left: 4px

    &__link
        color: $greyBG
        text-decoration: none;
