.article-text
    &__title-wrapper
        display: flex
        justify-content: space-between
        align-items: baseline

    &__date
        font-size: 13px
        color: $grey

    &__volume-title
        color: $darkGrey
        font-weight: 500
        font-size: 18px

    &__title
        color: $darkGrey
        margin-top: 0.3em
        margin-bottom: 1em
        font-size: 16px

    &__text
        ul, ol, p
            margin: 0.5em 0

        ul, ol
            padding-left: 40px

        ul
            list-style-type: circle

        h2
            margin: .7em 0
            color: $darkGrey
            font-size: 16px

        code
            display: block
            padding: 10px
            font-size: 13px
            background: $lightBlue
            font-family: 'Open Sans', sans-serif
