.mono-col
    height: 100%
    background-position: 50%
    background-repeat: no-repeat

    &__wrapper
        box-sizing: border-box
        padding: 25px 25px 25px 20px
        max-width: 700px
        height: 100%
        margin: 0 auto
        background: $transparencyDarkGrey
        color: $greyBG
        overflow-y: auto;

        a
        a:visited
            color: $greyBG
            font-weight: 500

    &__header
        font-weight: 500
        font-size: 18px
        margin-bottom: 1.2em

    &__text
        font-size: 16px
        font-weight: 400
        margin: 1em 0
