.page
    height: 100vh
    background: $greyBG
    // min-width: 1100px

    .logo
        margin-top: 25px
        width: 146px
        height: 30px
        background:url(/static/i/logo.png) no-repeat
        display: block
        outline: 0
    @media all and (max-width: $stage1)
        .logo
            margin: 25px 0 0 20px

    &__wrapper
        max-width: 1200px
        margin: 0 auto
        height: 100%

    &__footer
        height: 70px

    @media all and (max-width: $stage2), all and (max-height: 600px)
        &__footer
            height: 30px

    .copy
        padding-top: 5px
        font-weight: 100
    @media all and (max-width: $stage1)
        .copy
            padding: 5px 20px 0

    &__main
        height: calc(100% - 70px)

        > div
            height: 100%

    @media all and (max-width: $stage2), all and (max-height: 600px)
        &__main
            height: calc(100% - 30px)

    &__header
        display: flex
        min-width: 320px

    &__col
        width: 50%

    @media all and (max-width: $stage1)
        &__col_right
            width: 600px
            flex-grow: 0
            flex-shrink: 0
        &__col_left
            width: auto
            flex-grow: 1

    @media all and (max-width: $stage2)
        &__col_right
            width: auto
            flex-shrink: 1
            flex-grow: 1
        &__col_left
            width: auto
            flex-shrink: 0
            flex-grow: 1

    @media all and (max-width: $stage3)
        &__header
            flex-direction: column

        &__col_right
            flex-shrink: 0


    &__content
        height: calc(100% - 70px)
        overflow-y: auto
        background: $white
        position: relative

    @media all and (max-width: $stage3)
        &__content
            height: calc(100% - 140px)
