.left-col
    height: 100%
    width: 50%

    background-position: 50%
    background-repeat: no-repeat
    position: relative

    @media all and (max-width: $stage1)
        width: auto
        flex-grow: 1
        flex-shrink: 1
    @media all and (max-width: $stage2)
        height: auto;
        flex-grow: 0
        flex-shrink: 0

    &__header
        padding: 25px
        font-weight: 500
        font-size: 1.1em

    &__wrapper
        width: 350px
        height: 100%
        overflow-y: auto
        box-sizing: border-box
        background: $transparencyGrey
        color: $greyBG
        @media all and (max-width: $stage2)
            width: 100%
            height: auto;

    &__item
        padding: 25px 15px
        text-decoration: none
        outline: 0
        display: block

        &_current
            background: $transparencyGrey
