.alert
    padding: .75rem 1.25rem
    margin-bottom: 1rem
    border: 1px solid transparent
    border-radius: .25rem
    position: absolute
    z-index: 1
    box-sizing: border-box
    display: flex
    justify-content: space-between
    align-items: baseline

    &__close
        width: 13px
        height: 13px
        position: relative
        cursor: pointer
        &:after
        &:before
            width: 0
            height: 100%
            margin-left: 50%
            content: ''
            border: 1px solid
            position: absolute
        &:before
            transform: rotate(45deg)
        &:after
            transform: rotate(-45deg)

    &_empty
        display: none

    &_error
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;

    &_success
        color: #155724
        background-color: #d4edda
        border-color: #c3e6cb

    &_right
        right: 1%
        width: 48%
