.right-col
    height: 100%
    width: 50%
    overflow-y: auto

    @media all and (max-width: $stage1)
        width: 600px
        flex-grow: 0
        flex-shrink: 0

    @media all and (max-width: $stage2)
        width: 100%
        height: auto
        overflow-y: hidden
    // @media all and (max-width: $stage3)
    //     &__header
    //         flex-direction: column
    //
    //     &__col_right
    //         flex-shrink: 0

    &__wrapper
        min-height: 100%
        padding: 25px 25px 25px 20px
        box-sizing: border-box
        min-height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
        position: relative

        &:before
            content: ''
            position: sticky
            box-shadow: 0px 0px 5px 8px $white
            margin: -25px 0 25px /* Прячем в релэйтеве */
            top: 0 /* Отработает только в абсолюте */

        &:after
            content: ''
            position: sticky
            box-shadow: 0px 0px 5px 8px $white
            margin: 25px 0 -25px /* Прячем в релэйтеве */
            bottom: 0 /* Отработает только в абсолюте */

        > *
            flex-grow: 1
