.services__form
    &-row
        display: block
        margin: 1rem 0

    &-label
        display: block
        margin-bottom: .5rem;

    &-area
        display: block
        width: 100%
        height: 10em
        margin: 4px 0

    &-submit
        cursor: pointer
        color: $white
        background-color: $grey
        font-weight: 400
        text-align: center
        vertical-align: middle
        user-select: none
        border: 1px solid $grey
        padding: .5rem .75rem
        font-size: 1rem
        line-height: 1.25
        border-radius: .25rem
        transition: all .15s ease-in-out

        &:hover
            color: $white;
            background-color: #727b84;
            border-color: #6c757d;

    &-input,
    &-area
        display: block;
        width: 100%;
        padding: .5rem .75rem;
        font-size: 1rem;
        line-height: 1.25;
        color: $darkGrey;
        background-color: $white;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        outline: 0;

        &:focus
            border-color: #80bdff;
            color: $darkGrey;
            outline: 0;

    &-invalid
        color: $red;
        border-color: $red;
