$lightBlue=#f1f7fc
$blue=#2f79ba
$greyBG=#fafafa
$grey=#6A6E7C
$darkGrey = #403f3f
$transparencyGrey = rgba(0, 0, 0, 0.17)
$transparencyDarkGrey = rgba(19, 48, 72, 0.47)
$white=#ffffff
$black=#000000
$red=#e32a2f

$stage1=1200px // ничего не центруется

$stage2=950px // минимум двух колонок

$stage3=480px // минимум хедера



html, body
    height: 100%
    font-family: 'Open Sans', sans-serif
    overflow: hidden

*
    margin: 0
    padding: 0
