.pager
    display: flex
    align-items: center

    &__nav-link
        color: $grey
        margin: 10px
        text-decoration: none

    &__nav-link:hover
        color: $blue

    &__next:after
    &__prev:before
        vertical-align: middle
        font-size: 20px
        padding: 0 5px

    &__prev:before
        content: '〈'

    &__next:after
        content: '〉'
